
:root {

  --focused-item-background-color: #ffecb3;

  --icon-color--package: #ffd54f;
  --icon-color--root-package: #f57f17;

  --left-panel-background-color: #fafafa;

}


.form--properties {

    padding: 1em;

}


.left-panel {

    background-color: var(--left-panel-background-color);

}

.package-icon {

    color: var(--icon-color--package);

}

.root-package-icon {

    color: var(--icon-color--root-package);

}

.tree-item--focused {

    background-color: var(--focused-item-background-color);

}

.tree-item--not-focused {

    background-color: var(--left-panel-background-color);

}
