
:root {

  --focused-item-background-color: #ffecb3;

  --icon-color--constrained-data-type: #7f0000;
  --icon-color--directed-edge-type: #e64a19;
  --icon-color--package: #ffd54f;
  --icon-color--root-package: #f57f17;
  --icon-color--undirected-edge-type: #00c853;
  --icon-color--vertex-type: #311b92;

  --left-panel-background-color: #fafafa;

  --symbol-color--add: green;

}


.add-symbol {

    color: var(--symbol-color--add);

}

.constrained-boolean-icon,
.constrained-datetime-icon,
.constrained-float64-icon,
.constrained-integer32-icon,
.constrained-string-icon,
.constrained-uuid-icon {

    color: var(--icon-color--constrained-data-type);

}

.directed-edge-type-icon {

    color: var(--icon-color--directed-edge-type);

}

.form--properties,
.form--related-elements {

    padding: 1em;

}

.left-panel {

    background-color: var(--left-panel-background-color);

}

.package-icon {

    color: var(--icon-color--package);

}

.root-package-icon {

    color: var(--icon-color--root-package);

}

.tree-item--focused {

    background-color: var(--focused-item-background-color);

}

.tree-item--not-focused {

    background-color: var(--left-panel-background-color);

}

.undirected-edge-type-icon {

    color: var(--icon-color--undirected-edge-type);

}

.vertex-type-icon {

    color: var(--icon-color--vertex-type);

}

